body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  /*background-color: rgb(60, 60, 60);*/
  background-color:#f5f4ef;
}
#main-container {
	width: 600px;
	margin: 30px auto;
	height: auto;
	height: 600px;
	/*border:2px solid tomato;*/
	/*box-shadow: 10px 10px grey;*/
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
}
#myself {
	float: left;
	height: 600px;
	width: 150px;
	/*border:2px solid tomato;*/
	background-color: rgb(85, 92, 111);
	color: rgb(189, 195, 207);
}
#myself img {
	width: 150px;
	margin: auto;
	padding-top: 40px;
}
#myself span {
	display: block;
	line-height: 30px;
	width: 100px;
	margin: auto;
	text-align: center;
}
#details {
	width: auto;
	height: 600px;
	margin-left: 150px;
	/*border:2px solid tomato;*/
	background-color: rgb(5, 189, 191);
	text-align: center;
}

#ulbar {
	position: relative;
	width: 450;
	height: 80px;
	margin: 0 auto;
	padding: 0;
	/*border:2px solid tomato;*/
	background-color: rgb(239, 240, 245);
	list-style-type: none;
	border:1px solid #ccc;
}
#vernier {
	position: absolute;
	width: 80px;
	height: 90px;
	bottom: 0;
	left: 65.16249084472656px;
	opacity: 0.56;
	background-color: #ddd;
	transition: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
}
#ulbar li {
	margin-right: -4px;
	display: inline-block;
	width: 80px;
	height: 70px;
	border-left: 1.2px solid #fff;
}
i{
	line-height: 180%;
}
#ulbar li:last-child {
	border-right: 1.2px solid #fff;
}

#ulbar li a {
	color: rgb(189, 192, 201);
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	border-left: 1px solid #e0e0e0;
	height: 70px;
}
#ulbar li a span {
	display: block;
}
#ulbar li:last-child a{
	border-right: 1px solid #e0e0e0;
	height: 70px;
}
#ulbar li i:hover{

}
#ulbar li a span:hover{
	
}

#ulbar li :focus, .active {
	color: rgb(8, 210, 212);
}
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/**/

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}